@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
	background-color: #4682B4;
    text-align: center;
}
.titulo_formulario{
    color: #003f5c;
    font-size: 70px;
    text-align: center;
    font-weight: bold;	
    font-family: 'Lobster';
}
.fondo_titulo{
    background-color: #2ECC71;
    border-radius: 30px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.fondo_subtitulo{
    background-color: #145A32;
    border-radius: 30px;
    height: 150px;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
}
.subtitulo_formulario{
	color: #87CEEB;
	font-size: 45px;
}
.contenedor_entrega{
    display: block;
    justify-items: center;
    margin: auto;
    background-color: #c1fcf2;
    mask: radial-gradient(circle, black 10%, transparent 70%);
    width: 70%;
    border-radius: 20px 70px;
}
.contenedor_cantidades{
    display: block;
    justify-items: center;
    margin: auto;
    background-color: #c1fcf2;
    mask: radial-gradient(circle, black 10%, transparent 70%);
    width: 70%;
    border-radius: 20px 70px;
}
.respuesta{
    background-color: rgb(243, 212, 247);
}
.formulario{
    align-items: justify;
}