body {
	background-color: #4682B4;
    text-align: center;
}
.titulo_formulario{
    color: #003f5c;
    font-size: 70px;
    text-align: center;
    font-weight: bold;	
    font-family: 'Lobster';
}
.fondo_titulo{
    background-color: #2ECC71;
    border-radius: 30px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.fondo_subtitulo{
    background-color: #145A32;
    border-radius: 30px;
    height: 150px;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
}
.subtitulo_formulario{
	color: #87CEEB;
	font-size: 45px;
}
.contenedor_entrega{
    display: block;
    justify-items: center;
    margin: auto;
    background-color: #c1fcf2;
    mask: radial-gradient(circle, black 30%, transparent 70%);
    width: 70%;
    border-radius: 20px 70px;
}
.contenedor_cantidades{
    display: block;
    justify-items: center;
    margin: auto;
    background-color: #c1fcf2;
    mask: radial-gradient(circle, black 30%, transparent 70%);
    width: 70%;
    border-radius: 20px 70px;
}
.respuesta{
    background-color: #76E4D8;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.pregunta {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contenedor_botones {
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.boton_enviar {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}
.contenedor_icono_enviar {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
}
.icono_enviar {
    border-radius: 1px;
}
.texto_enviar {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: 0.3s;
    font-size: 1.04em;
}
.boton_enviar:hover .contenedor_icono_enviar {
    width: 90px;
    transition-duration: 0.3s;
}
.boton_enviar:hover .texto_enviar {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
}
.boton_enviar:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
}
.boton_basura {
    width: 110px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}
.contenedor_icono_basura {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #ff8888, #ff4747);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 2;
}
.icono_basura {
    width: 18px;
    height: 18px;
    fill: white;
}
.texto_basura {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
    transition: 0.3s;
    z-index: 1;
}
.boton_basura:hover .contenedor_icono_basura {
    width: 90px;
    border-radius: 40px;
}
.boton_basura:hover .texto_basura {
    width: 0;
    font-size: 0;
    transform: translateX(10px);
}
.boton_basura:active {
    transform: scale(0.95);
}
